<ion-view>
  <ion-content class="greyBody">
<div class="dashPage">
  <div class="mainDash">
    <h3>My Active Associations</h3>
    <div class="dashInfo">
      <div class="row">
        <div class="col">
          <div class="complexContent">
            <div class="row">
              <div class="col">
                <img class="houseImage" src="http://www.progressivecm.com/greentree/images/entrance.jpg" alt="house">
              </div>
              <div class="col" ng-repeat="association in associations">
                <a href="/dashboard/{{association._id}}"><h4>{{association.name}}</h4></a>
                <p>Number of Homes: {{association.houses.length}}</p>
                <p>Violations: {{association.houses[0].violations}}</p>
              </div>
            </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <img class="houseImage" src="http://www.progressivecm.com/greentree/images/entrance.jpg" alt="house">
              </div>
          </div>
          <div class="col">
          </div>
        </div>
    </div>
  </div>
</div>
  </ion-content>
</ion-view>