<ion-view>
  <ion-content class="greyBody">
<div class="dashPage">
  <div class="mainDash">
    <h3>My Active Associations</h3>
    <div class="dashInfo">
      <div class="row">
        <div class="col">
          <div class="complexContent">
            <div class="row">
              <div class="col">
                <img class="houseImage" src="http://www.progressivecm.com/greentree/images/entrance.jpg" alt="house">
              </div>
              <div class="col">
                <h4>TITLE</h4>
                <p>Number of Homes: homes.length</p>
                <p>Violations: number.violations</p>
                <p>Maintenance Requests: number.maintenence</p>
              </div>
            </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <img class="houseImage" src="http://www.progressivecm.com/greentree/images/entrance.jpg" alt="house">
              </div>
            <div class="col">
              <h4>TITLE</h4>
              <p>Number of Homes: homes.length</p>
              <p>Violations: number.violations</p>
              <p>Maintenance Requests: number.maintenence</p>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
    </div>
  </div>
</div>
  </ion-content>
</ion-view>
