<ion-view>
  <ion-content class="greyBody">
<div class="dashPage">
  <div class="mainDash">
    <h3>{{house.address}} {{house.street}}</h3>
    <div>
<!--     <form class="addAssociation" ng-submit="addAssociation()">
      <input ng-model='name' placeholder="Association Name">
      <button class="button button-small" type="submit"></button>
    </form> -->
  </div>
    <div class="dashInfo">
      <div class="row">
        <div class="col">
          <div class="complexContent">
            <div class="row">
              <div class="col">
                <img class="houseImage" src="http://www.progressivecm.com/greentree/images/entrance.jpg" alt="house">
              </div>
              <div class="col">
                <p>Violations: {{house.violations.length}}</p>
                <div ng-repeat="violation in violations">
                  <p>Outstanding: {{violation.violationOutstanding}}
                  <p>Information: {{violation.violationInfo}}</p>
                  <p>Date: {{violation.violationDate | date }}
                </div>
                <p>Maintenance Requests: 0</p>
              </div>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
    </div>
  </div>
</div>
  </ion-content>
</ion-view>
