<ion-view>
  <ion-content class="padding signupPage">
  <ion-slide-box ion-wizard>
  <ion-slide ion-wizard-step>
  <div class="signupPage">
  <div class="progress row">
    <div class="progressItem active"><p>Step 1</p>
    </div>
      <div class="progressItem past"><p>Step 2</p>
      </div>
    <div class="progressItem past"><p>Step 3</p>
    </div>
    <div class="progressItem past"><p>Step 4</p>
    </div>
  </div>
    <h4 class="form-title">Step 1 - Property Manager Info</h4>
  <form class="signupForm" ng-submit="addUser()">
    <div class="row">
    <div class="form-input col ">
      <input ng-model="user.username" name="signup[name]" class="SI" id="SIname" autofocus type="text" placeholder="Name">
    </div>
    <div class="col col-10"></div>
    <div class="form-input col">
      <input ng-model="user.company" name="signup[company]" class="SI" id="SIcompany" type="text" placeholder="Company Name">
    </div>
  </div>
  <div class="row">
    <div class="form-input col">
      <input ng-model="user.address" name="signup[address]" class="SI" id="SIaddress" type="text" placeholder="Address">
    </div>
  </div>
  <div class="row">
    <div class="form-input col">
      <input ng-model="user.address2" name="signup[address2]" class="SI" id="SIaddress2" type="text" placeholder="Address Line 2 (not required)">
    </div>
  </div>
    <div class="row">
    <div class="form-input col col-33">
      <input ng-model="user.city" name="signup[city]" class="SI" id="SIcity" type="text" placeholder="City">
    </div>
    <div class="col col-1"></div>
    <div class="form-input col col-20">
      <input ng-model="user.state" name="signup[state]" class="SI" id="SIstate" type="text" placeholder="State">
    </div>
    <div class="col col-1"></div>
    <div class="form-input col col-33">
      <input ng-model="user.zipcode" name="signup[zipcode]" class="SI" id="SIzipcode" type="text" placeholder="Zipcode">
    </div>
  </div>
  <div class="row">
    <div class="form-input col col-48">
      <input ng-model="user.tel" name="signup[tel]" class="SI" id="SItel" type="tel" placeholder="(xxx) xxx-xxxx">
    </div>
    <div class="col col-10"></div>
    <div class="form-input col col-48">
      <input ng-model="user.email" name="signup[email]" class="SI" id="SIEmail" type="email" placeholder="email@domain.com">
    </div>
  </div>
  <div class="row">
    <div class="form-input col">
      <input ng-model="user.passwordDigest" name="signup[password]" class="SI" id="SIpassword" type="password" placeholder="Password">
    </div>
  </div>
    <button type="submit" class="button button-full" ion-wizard-next>NEXT STEP</button>
  </form>
</div>
</ion-slide>


<ion-slide ion-wizard-step>
<div class="signupPage page2">
    <div class="progress row">
      <div class="progressItem active past col">
        <p>Step 1</p>
      </div>
      <div class="progressItem active col">
        <p>Step 2</p>
      </div>
      <div class="progressItem past col">
        <p>Step 3</p>
      </div>
      <div class="progressItem past col">
        <p>Step 4</p>
      </div>
    </div>
  <h4 class="form-title">STEP 2 - Select a Price Package</h4>
  <form class="signupForm page2" ng-submit="price()">
    <div class="row">
      <div class="form-input col-90">
        <h3 class="orange">Number of Associations: </h3>
      </div>
      <div class="form-input col list">
        <select class="select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
        </select>
      </div>
    </div>
    <div class="row">
        <div class="col-50">
          <input type="text" placeholder="Name of Association">
        </div>
        <div class="col col-10"></div>
          <input type="number" ng-model="numberOfHomes"placeholder="Number of Homes">
        </div>
      <div class="purchaseItems" ng-repeat="price in prices">
        <div class="purchaseItem purchase" ng-class="{selected: selectedPrice[price.id]}" ng-click="addOrRemoveClassFromMe(price.id)">
          <div class="row">
            <div class="col col-20">
              <i class="icon ion-checkmark-circled"></i>
            </div>
            <div class="col col-75">
              <h3 class="dots">{{price.name}}</h3>
              <p>${{price.pricing | number: 2}} per home (${{price.minimum}} minimum)<br>
                ${{price.extra | number: 2}} per each home over 500</p>
            </div>
            <div class="col">
              <i class="picture {{price.image}}"></i>
            </div>
          </div>
        </div>
       <!--  <a ng-class="{ activate: activePath=='/test2' }">
          <div class="purchaseItem">
          <div class="row">
            <div class="col col-20">
              <i class="icon ion-checkmark-circled"></i>
            </div>
            <div class="col col-75">
              <h3 class="dots">Plus</h3>
              <p>$0.75 per home ($250 minimum)<br>
                $0.55 per each home over 500</p>
            </div>
            <div class="col">
              <i class="picture ion-images"></i>
            </div>
          </div>
        </div></a>
        <a ng-class="{ activate: activePath=='/test3' }">
          <div class="purchaseItem">
          <div class="row">
            <div class="col col-20">
              <i class="icon ion-checkmark-circled"></i>
            </div>
            <div class="col col-75">
              <h3 class="dots">Premium</h3>
              <p>$0.95 per home ($450 minimum)<br>
                $0.75 per each home over 500</p>
            </div>
            <div class="col">
              <i class="picture ion-android-camera"></i>
            </div>
          </div>
        </div></a> -->
        </div>
      <h4 class="total">Total: <span class="amount">${{totalPrice.pricing * numberOfHomes | number: 2}}</span></h4>
    <button type="submit" class="button button-full" ion-wizard-next>NEXT STEP</button>
  </form>
</div>
</ion-slide>


<ion-slide ion-wizard-step>
<div class="signupPage page3">
  <div class="progress row">
    <div class="progressItem active past col"><p>Step 1</p>
    </div>
      <div class="progressItem active past col"><p>Step 2</p>
      </div>
    <div class="progressItem active col"><p>Step 3</p>
    </div>
    <div class="progressItem past col"><p>Step 4</p>
    </div>
  </div>
    <h4 class="form-title">STEP 3 - Billing Info</h4>
    <div class="signupForm step3">
      <h1 class="form-title">Insert Stripe Here</h1>
    <!-- <form class="signupForm step3" ng-submit="billing()">
    <div class="row">
      <div class="form-input column-lg">
        <input ng-model="bill.cardholderName" class="SI" id="SIname" autofocus type="text" placeholder="Cardholder Name">
      </div>
        <div class="column-radio-first">
          <input type="radio" name="paymentType" value="ACH" id="ACH">
        </div>
          <p>ACH payment</p><br>
        <div class="column-radio">
          <input type="radio" name="paymentType" value="CC">
        </div>
        <p>Credit Card</p> 
      </div> -->
        <!-- <div class="row">
          <div class="col col-10"></div>
          <div class="form-input col">
            <ul class="list">
              <li class="item item-radio">
                <label class="checkbox">
                <input type="checkbox">
                </label>
                  ACH Payments
                </li>
                <li class="item item-checkbox">
                <label class="checkbox">
                <input type="checkbox">
                </label>
                  Credit Card
                </li>
            </ul>
          </div>
        </div>
 --> 
  <!-- <div class="row">
    <div class="form-input col">
      <input ng-model="bill.address" name="signup[address]" class="SI" id="SIaddress" type="text" placeholder="Address">
    </div>
    <div class="col col-10"></div>
    <div class="form-input col">
      <input ng-model="creditCardNum" class="SI" type="text" placeholder="Credit Card Number">
    </div>
  </div>
  <div class="row">
    <div class="form-input col">
      <input ng-model="bill.address2" name="signup[address2]" class="SI" id="SIaddress2" type="text" placeholder="Address Line 2 (not required)">
    </div>
    <div class="col col-10"></div>
      <div class="form-input col">
        <input ng-model="creditCardExp" class="SI" type="month" placeholder="Expiration Date (MM/YY)">
      </div>
    </div>
    <div class="row">
      <div class="form-input colu-first">
        <input ng-model="user.city" name="signup[city]" class="SI" id="SIcity" type="text" placeholder="City">
      </div>
      <div class="form-input colu">
        <input ng-model="user.state" name="signup[state]" class="SI" id="SIstate" type="text" placeholder="State">
      </div>
      <div class="form-input colu-med">
        <input ng-model="user.zipcode" name="signup[zipcode]" class="SI" id="SIzipcode" type="text" placeholder="Zipcode">
      </div>
      <div class="form-input colu-lg">
        <input ng-model="creditCardCVC" class="SI" type="number" placeholder="CVC">
      </div>
    </div>
    <div class="row">
      <div class="form-input col">
        <input ng-model="bill.tel" class="SI" type="tel" placeholder="Phone Number">
      </div>
      <div class="col col-10"></div>
      <div class="form-input col"> -->
        <button onclick="homes()" class="button-review" ion-wizard-next>REVIEW ORDER</button>
    </div>
</div>
</ion-slide>


<ion-slide ion-wizard-step>
<div class="signupPage page4">
  <div class="progress row">
    <div class="progressItem active past col"><p>Step 1</p>
    </div>
      <div class="progressItem active past col"><p>Step 2</p>
      </div>
    <div class="progressItem active past col"><p>Step 3</p>
    </div>
    <div class="progressItem active col"><p>Step 4</p>
    </div>
  </div>
  <h4 class="form-title">STEP 4 - Order Details / Payment Confirmation</h4>
  <div class="signupForm page4" ng-submit="review()">
    <div class="row smallSpace">
      <div class="col">
        <p><span class="label">Name: </span>John Doe</p>
      </div>
      <div class="col col-10"></div>
      <div class="col">
        <p><span class="label">Card ending: </span>XX{{last4}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <p><span class="label">Address: </span>11 Poinsetta, Irvine, CA 92604</p>
    </div>
  </div>
  <div class="purchaseItems">
  <div class="purchaseItem selected">
          <div class="row">
            <div class="col col-20">
              <i class="icon ion-checkmark-circled"></i>
            </div>
            <div class="col col-75">
              <h3 class="dots">{{totalPrice.name}}</h3>
              <p>${{totalPrice.pricing | number: 2}} per home (${{totalPrice.minimum}} minimum)<br>
                ${{totalPrice.extra}} per each home over 500</p>
            </div>
            <div class="col">
              <i class="picture ion-image"></i>
            </div>
          </div>
        </div>
      </div>
      <h4 class="total label">Total: <span class="amount">${{totalPrice.pricing * numberOfHomes | number: 2}}</span></h4>
<!--     <label for="terms">I've read and accept the <a href="#">Terms & Conditions</a>
 -->      
 <div class="row">
  <div class="col-10">
    <input type="checkbox" id="terms" required> 
  </div>
    <p>I've read and accept the <a href="#"> Terms & Conditions</a></p>
</div>
<!--     </label>
 -->    <a class="noUnderline" href="/#/login"><button type="submit" class="button button-full">SUBMIT</button></a>
  </div>
</div>
</ion-slide>
</ion-slide-box>
  </ion-content>
  <ion-footer-bar class="signupFooter">
        <p>Copyright &copy; HOAtrac 2015. HOAtrac.com. All Rights Reserved</p>
    </ion-footer-bar>
</ion-view>
